<div class="card mb-3">
	<div class="card-header">
    	<h4>Cuántos miembros desea que tenga el equipo</h4>
	</div>
  	<div class="row g-0">
	    <div class="col-md-4">
	      
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title"> Superhéroe</h5>
	        
	        
	      </div>
	     	
	    </div>
	</div>
  	<div class="card-footer text-muted">
  		Crear un equipo de superhéroes
    </div>
</div>